﻿@model IEnumerable<EsimeneMVC.Models.Category>

@{
    ViewBag.Title = "Index";
}
<p>@(System.DateTime.Today.Year + 1)</p>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Picture)
        </th>
        <th></th>
    </tr>
    
    <!-- see on veebilehel loetav kommentaar-->

@foreach (var item in Model) {
    // see on C# kommentaar
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @*Html.DisplayFor(modelItem => item.Picture)*@
            <img src=" @Url.Action("Picture", "Categories", new {id = item.CategoryID })"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
